<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.lesson06.mapper.BookmarkMapper">

	<!-- 6-1 입력 페이지 -->
	<insert id="insertBookmark" parameterType="map">
		INSERT INTO `bookmark`
		(
			`name`,
			`url`,
			`createAt`,
			`updatedAt`
		)
		VALUES
		(
			#{name},
			#{url},
			NOW(),
			NOW()
		)
	</insert>
	

	<!-- 6-1 결과 페이지 -->
	<select id="selectBookmarkList" resultType="com.quiz.lesson06.domain.Bookmark">
		SELECT 
			`id`,
			`name`,
			`url`,
			`createAt`,
			`updatedAt`
		FROM
			`bookmark`
		
	</select>
	
	
	<!-- 6-1 북마크 추가 화면 -->
	<select id="isDuplicatedUrl" parameterType="String" resultType="boolean">
			SELECT
				COUNT(*)
			FROM
				`bookmark`
			WHERE
				`url` = #{url}
	</select>
	
	
	<!-- 6-2 URL 중복확인 - AJAX 요청(SELECT) -->
	<select id="selectBookmarkByUrl" parameterType="String" resultType="com.quiz.lesson06.domain.Bookmark">
		SELECT 
			`id`,
			`name`,
			`url`,
			`createAt`,
			`updatedAt`
		FROM
			`bookmark`
		WHERE 
			`url` = #{url}
	</select>
	
	
	<!-- 6-2 URL 중복확인 - AJAX 요청(DELETE) -->
	<delete id="deleteBookmarkById" parameterType="int">
		DELETE
		FROM 
			`bookmark`
		WHERE
			`id` = #{id}
	</delete>
	
	
</mapper>